# Reading data
with the **read_csv_url()** function wrote by *Chris*

the function of read_csv_url() is:
*   Load a CSV file from a remote URL into a pandas DataFrame
*   Clean column names using janitor(if loading fails, prints a failure message)

In [98]:
import file_reader as fr

In [99]:
url = "../01_Data/Raw/20250615-London-listings.csv/listings.csv"

df = fr.read_csv_url(url)

Successfully loaded from URL: ../01_Data/Raw/20250615-London-listings.csv/listings.csv
Preview of first 5 rows:
       id                          listing_url       scrape_id last_scraped  \
0  264776  https://www.airbnb.com/rooms/264776  20250610032232   2025-06-11
1  264777  https://www.airbnb.com/rooms/264777  20250610032232   2025-06-11
2  264778  https://www.airbnb.com/rooms/264778  20250610032232   2025-06-11
3  264779  https://www.airbnb.com/rooms/264779  20250610032232   2025-06-11
4  264780  https://www.airbnb.com/rooms/264780  20250610032232   2025-06-11

        source                                             name  \
0  city scrape                      Huge Four Bedroom Apartment
1  city scrape                            One Bedroom Apartment
2  city scrape          Two Bedroom Newly Refurbished Apartment
3  city scrape                Refurbished Two Bedroom Apartment
4  city scrape  Spacious refurbished 2 bedroom apt with balcony

                                         description  \
0  An extremely large and sunny four bedroom grou...
1  Recently refurbished sunny one bedroom first f...
2  A large and sunny two bedroom second floor apa...
3  A large and sunny two bedroom second floor apa...
4  Completely refurbished 2 bedroom apt to sleep ...

                               neighborhood_overview  \
0  Catford is a well established London suburb. T...
1                                                NaN
2  Catford is a well established London suburb. T...
3  Catford is a well established London suburb. T...
4                                                NaN

                                         picture_url  host_id  ...  \
0  https://a0.muscache.com/pictures/hosting/Hosti...  1389063  ...
1  https://a0.muscache.com/pictures/hosting/Hosti...  1389063  ...
2  https://a0.muscache.com/pictures/50662093/af12...  1389063  ...
3  https://a0.muscache.com/pictures/50660860/e440...  1389063  ...
4  https://a0.muscache.com/pictures/airflow/Hosti...  1389063  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        4.74                   4.62                4.72
1                        4.25                   4.54                4.42
2                        4.52                   4.36                4.38
3                        4.61                   4.50                4.47
4                        4.74                   4.37                4.59

  license instant_bookable calculated_host_listings_count  \
0     NaN                t                             11
1     NaN                t                             11
2     NaN                t                             11
3     NaN                t                             11
4     NaN                t                             11

  calculated_host_listings_count_entire_homes  \
0                                          11
1                                          11
2                                          11
3                                          11
4                                          11

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              0.51
1                                           0              0.22
2                                           0              0.43
3                                           0              0.30
4                                           0              0.35

[5 rows x 79 columns]

In [100]:
df.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,264776,https://www.airbnb.com/rooms/264776,20250610032232,2025-06-11,city scrape,Huge Four Bedroom Apartment,An extremely large and sunny four bedroom grou...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/hosting/Hosti...,1389063,...,4.74,4.62,4.72,NaN,t,11,11,0,0,0.51
1,264777,https://www.airbnb.com/rooms/264777,20250610032232,2025-06-11,city scrape,One Bedroom Apartment,Recently refurbished sunny one bedroom first f...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,1389063,...,4.25,4.54,4.42,NaN,t,11,11,0,0,0.22
2,264778,https://www.airbnb.com/rooms/264778,20250610032232,2025-06-11,city scrape,Two Bedroom Newly Refurbished Apartment,A large and sunny two bedroom second floor apa...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/50662093/af12...,1389063,...,4.52,4.36,4.38,NaN,t,11,11,0,0,0.43
3,264779,https://www.airbnb.com/rooms/264779,20250610032232,2025-06-11,city scrape,Refurbished Two Bedroom Apartment,A large and sunny two bedroom second floor apa...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/50660860/e440...,1389063,...,4.61,4.50,4.47,NaN,t,11,11,0,0,0.30
4,264780,https://www.airbnb.com/rooms/264780,20250610032232,2025-06-11,city scrape,Spacious refurbished 2 bedroom apt with balcony,Completely refurbished 2 bedroom apt to sleep ...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,1389063,...,4.74,4.37,4.59,NaN,t,11,11,0,0,0.35

In [101]:
print(f"The data is {df.shape[0]} rows * {df.shape[1]} columns")

The data is 96651 rows * 79 columns

# Select the columns we want

In [102]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96651 entries, 0 to 96650
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            96651 non-null  int64
 1   listing_url                                   96651 non-null  object
 2   scrape_id                                     96651 non-null  int64
 3   last_scraped                                  96651 non-null  object
 4   source                                        96651 non-null  object
 5   name                                          96651 non-null  object
 6   description                                   93806 non-null  object
 7   neighborhood_overview                         41983 non-null  object
 8   picture_url                                   96642 non-null  object
 9   host_id                                       96651 non-null  int64
 10  host_url                                      96651 non-null  object
 11  host_name                                     96611 non-null  object
 12  host_since                                    96613 non-null  object
 13  host_location                                 73323 non-null  object
 14  host_about                                    49314 non-null  object
 15  host_response_time                            63627 non-null  object
 16  host_response_rate                            63627 non-null  object
 17  host_acceptance_rate                          69036 non-null  object
 18  host_is_superhost                             94828 non-null  object
 19  host_thumbnail_url                            96613 non-null  object
 20  host_picture_url                              96613 non-null  object
 21  host_neighbourhood                            46291 non-null  object
 22  host_listings_count                           96613 non-null  float64
 23  host_total_listings_count                     96613 non-null  float64
 24  host_verifications                            96613 non-null  object
 25  host_has_profile_pic                          96613 non-null  object
 26  host_identity_verified                        96613 non-null  object
 27  neighbourhood                                 41984 non-null  object
 28  neighbourhood_cleansed                        96651 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      96651 non-null  float64
 31  longitude                                     96651 non-null  float64
 32  property_type                                 96651 non-null  object
 33  room_type                                     96651 non-null  object
 34  accommodates                                  96651 non-null  int64
 35  bathrooms                                     62730 non-null  float64
 36  bathrooms_text                                96502 non-null  object
 37  bedrooms                                      84071 non-null  float64
 38  beds                                          62676 non-null  float64
 39  amenities                                     96651 non-null  object
 40  price                                         62684 non-null  object
 41  minimum_nights                                96651 non-null  int64
 42  maximum_nights                                96651 non-null  int64
 43  minimum_minimum_nights                        96651 non-null  int64
 44  maximum_minimum_nights                        96651 non-null  int64
 45  minimum_maximum_nights                        96651 non-null  int64
 46  maximum_maximum_nights                        96651 non-null  int64
 47  minimum_nights_avg_ntm                        96651 non-null  float64
 48  maximum_nights_avg_ntm                        96651 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              92188 non-null  object
 51  availability_30                               96651 non-null  int64
 52  availability_60                               96651 non-null  int64
 53  availability_90                               96651 non-null  int64
 54  availability_365                              96651 non-null  int64
 55  calendar_last_scraped                         96651 non-null  object
 56  number_of_reviews                             96651 non-null  int64
 57  number_of_reviews_ltm                         96651 non-null  int64
 58  number_of_reviews_l30d                        96651 non-null  int64
 59  availability_eoy                              96651 non-null  int64
 60  number_of_reviews_ly                          96651 non-null  int64
 61  estimated_occupancy_l365d                     96651 non-null  int64
 62  estimated_revenue_l365d                       62684 non-null  float64
 63  first_review                                  71487 non-null  object
 64  last_review                                   71487 non-null  object
 65  review_scores_rating                          71487 non-null  float64
 66  review_scores_accuracy                        71472 non-null  float64
 67  review_scores_cleanliness                     71478 non-null  float64
 68  review_scores_checkin                         71443 non-null  float64
 69  review_scores_communication                   71466 non-null  float64
 70  review_scores_location                        71442 non-null  float64
 71  review_scores_value                           71442 non-null  float64
 72  license                                       0 non-null      float64
 73  instant_bookable                              96651 non-null  object
 74  calculated_host_listings_count                96651 non-null  int64
 75  calculated_host_listings_count_entire_homes   96651 non-null  int64
 76  calculated_host_listings_count_private_rooms  96651 non-null  int64
 77  calculated_host_listings_count_shared_rooms   96651 non-null  int64
 78  reviews_per_month                             71487 non-null  float64
dtypes: float64(21), int64(24), object(34)
memory usage: 58.3+ MB

In [103]:
df.columns.to_list()

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'source',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'availability_eoy',
 'number_of_reviews_ly',
 'estimated_occupancy_l365d',
 'estimated_revenue_l365d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [104]:
cols_to_select = ['scrape_id','host_id','host_listings_count','latitude','longitude','property_type','room_type','accommodates','bedrooms','price','estimated_occupancy_l365d']
df = df[cols_to_select]

df.sample(5, random_state = 1)

,scrape_id,host_id,host_listings_count,latitude,longitude,property_type,room_type,accommodates,bedrooms,price,estimated_occupancy_l365d
88047,20250610032232,681589009,11.0,51.493550,-0.184780,Entire rental unit,Entire home/apt,5,2.0,$416.00,0
10924,20250610032232,61939174,1.0,51.493270,-0.324240,Private room in home,Private room,2,1.0,NaN,0
48134,20250610032232,371048030,1.0,51.568946,-0.022849,Entire home,Entire home/apt,6,3.0,$160.00,0
65676,20250610032232,228031450,1.0,51.503374,-0.283565,Entire condo,Entire home/apt,4,1.0,NaN,18
62478,20250610032232,20110902,1.0,51.537340,-0.052940,Private room in condo,Private room,2,1.0,$67.00,255

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96651 entries, 0 to 96650
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   scrape_id                  96651 non-null  int64
 1   host_id                    96651 non-null  int64
 2   host_listings_count        96613 non-null  float64
 3   latitude                   96651 non-null  float64
 4   longitude                  96651 non-null  float64
 5   property_type              96651 non-null  object
 6   room_type                  96651 non-null  object
 7   accommodates               96651 non-null  int64
 8   bedrooms                   84071 non-null  float64
 9   price                      62684 non-null  object
 10  estimated_occupancy_l365d  96651 non-null  int64
dtypes: float64(4), int64(4), object(3)
memory usage: 8.1+ MB

In [106]:
df.isnull().sum(axis=0).sort_values(ascending=False)[:12]

price                        33967
bedrooms                     12580
host_listings_count             38
host_id                          0
scrape_id                        0
latitude                         0
longitude                        0
room_type                        0
property_type                    0
accommodates                     0
estimated_occupancy_l365d        0
dtype: int64

set the path to store the raw data

In [107]:
from pathlib import Path
import numpy as np
import pandas as pd

In [108]:
path = Path(f'01 Data/Raw/{Path(url).name}') 
print(f"Writing to: {path}")

Writing to: 01 Data/Raw/listings.csv

# Fix data type

## Int

In [109]:
Int_col = ["scrape_id","host_id","host_listings_count","accommodates","bedrooms","estimated_occupancy_l365d"]

for i in Int_col:
    print("Converting {i}...")
    try:
        df[i] = df[i].astype('float').astype('int')
    except ValueError as e:
        print("  - !!!Converting to unsigned 16-bit integer!!!")
        df[i] = df[i].astype('float').astype(pd.UInt16Dtype())

df[Int_col].info()

Converting {i}...
Converting {i}...
Converting {i}...
  - !!!Converting to unsigned 16-bit integer!!!
Converting {i}...
Converting {i}...
  - !!!Converting to unsigned 16-bit integer!!!
Converting {i}...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96651 entries, 0 to 96650
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   scrape_id                  96651 non-null  int64
 1   host_id                    96651 non-null  int64
 2   host_listings_count        96613 non-null  UInt16
 3   accommodates               96651 non-null  int64
 4   bedrooms                   84071 non-null  UInt16
 5   estimated_occupancy_l365d  96651 non-null  int64
dtypes: UInt16(2), int64(4)
memory usage: 3.5 MB

## Float

##### Convert the price from string to float

In [110]:
money = ['price']

df[money].head(5)

     price
0  $297.00
1   $98.00
2  $148.00
3  $144.00
4  $157.00

In [111]:
for m in money:
    print(f"Converting {m}")
         
    try:
        df[m] = df[m].str.replace('$','', regex=False).str.replace(',','').astype('float')
    except ValueError as e:
        print(f"Unable to convert {m} to float xxxx")
        print(e)

# just have a look!
df[money].sample(5, random_state = 1)

Converting price

       price
88047  416.0
10924    NaN
48134  160.0
65676    NaN
62478   67.0

In [112]:
df[money].isnull().sum(axis = 0)

price    33967
dtype: int64

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96651 entries, 0 to 96650
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   scrape_id                  96651 non-null  int64
 1   host_id                    96651 non-null  int64
 2   host_listings_count        96613 non-null  UInt16
 3   latitude                   96651 non-null  float64
 4   longitude                  96651 non-null  float64
 5   property_type              96651 non-null  object
 6   room_type                  96651 non-null  object
 7   accommodates               96651 non-null  int64
 8   bedrooms                   84071 non-null  UInt16
 9   price                      62684 non-null  float64
 10  estimated_occupancy_l365d  96651 non-null  int64
dtypes: UInt16(2), float64(3), int64(4), object(2)
memory usage: 7.2+ MB

## Str

Convert the format for categorical data

In [114]:
cats = ['property_type','room_type']

In [115]:
for i in cats:
    print(df[i].value_counts())

property_type
Entire rental unit             40799
Private room in rental unit    14573
Private room in home           11826
Entire home                     8938
Entire condo                    8438
                               ...
Shared room                        1
Cave                               1
Lighthouse                         1
Private room in resort             1
Shared room in loft                1
Name: count, Length: 92, dtype: int64
room_type
Entire home/apt    62456
Private room       33893
Shared room          191
Hotel room           111
Name: count, dtype: int64

In [116]:
for c in cats:
    print(f"Converting {c}")
    df[c] = df[c].astype('category')

Converting property_type
Converting room_type

# Save cleaned data

In [117]:
df.info

<bound method DataFrame.info of             scrape_id    host_id  host_listings_count   latitude  longitude  \
0      20250610032232    1389063                   11  51.443060  -0.019480
1      20250610032232    1389063                   11  51.442840  -0.019970
2      20250610032232    1389063                   11  51.443590  -0.022750
3      20250610032232    1389063                   11  51.443550  -0.023090
4      20250610032232    1389063                   11  51.443330  -0.023070
...               ...        ...                  ...        ...        ...
96646  20250610032232  698200683                    5  51.525360  -0.072550
96647  20250610032232    1190865                    8  51.543040  -0.076190
96648  20250610032232  501629235                    6  51.518096  -0.168024
96649  20250610032232    2125620                   67  51.496230  -0.133060
96650  20250610032232  460633749                    9  51.519280  -0.200610

            property_type        room_type  accommodates  bedrooms   price  \
0      Entire rental unit  Entire home/apt            10         4   297.0
1      Entire rental unit  Entire home/apt             2         1    98.0
2      Entire rental unit  Entire home/apt             4         2   148.0
3      Entire rental unit  Entire home/apt             5         2   144.0
4      Entire rental unit  Entire home/apt             4         2   157.0
...                   ...              ...           ...       ...     ...
96646  Entire rental unit  Entire home/apt             6         3  1395.0
96647  Entire rental unit  Entire home/apt             2         1    95.0
96648  Entire rental unit  Entire home/apt             6         2   299.0
96649  Entire rental unit  Entire home/apt             4         2  3000.0
96650  Entire rental unit  Entire home/apt             4         2   132.0

       estimated_occupancy_l365d
0                            110
1                             37
2                             55
3                             64
4                             37
...                          ...
96646                          0
96647                          0
96648                          0
96649                          0
96650                          0

[96651 rows x 11 columns]>

In [143]:
csv_out = Path(f'../01_Data/Cleaned/{path.name}')
pq_out = Path(f'../01_Data/Cleaned/{path.name.replace('.csv','.parquet')}')
if not csv_out.exists():
    print(f"Saving...")
    csv_out.parent.mkdir(parents=True, exist_ok=True)
    df.to_csv(csv_out, index=False, encoding='utf-8')
    df.to_parquet(pq_out, index=False)
    print(f"Saved {df.shape[0]:,} rows of {df.shape[1]:,} columns to {csv_out.resolve()}")
    print("Done.")

Saving...
Saved 96,651 rows of 11 columns to /home/jovyan/work/01_Data/Cleaned/listings.csv
Done.

Have a try...

In [144]:
df_cleaned = pd.read_csv("../01_Data/Cleaned/listings.csv")
df_cleaned.sample(5, random_state = 1)

,scrape_id,host_id,host_listings_count,latitude,longitude,property_type,room_type,accommodates,bedrooms,price,estimated_occupancy_l365d
88047,20250610032232,681589009,11.0,51.493550,-0.184780,Entire rental unit,Entire home/apt,5,2.0,416.0,0
10924,20250610032232,61939174,1.0,51.493270,-0.324240,Private room in home,Private room,2,1.0,NaN,0
48134,20250610032232,371048030,1.0,51.568946,-0.022849,Entire home,Entire home/apt,6,3.0,160.0,0
65676,20250610032232,228031450,1.0,51.503374,-0.283565,Entire condo,Entire home/apt,4,1.0,NaN,18
62478,20250610032232,20110902,1.0,51.537340,-0.052940,Private room in condo,Private room,2,1.0,67.0,255